.step {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 140px;
  height: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  background-color: var(--app-bg-color);
}

.logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: var(--app-secondary-bg-color);
}

.image {
  width: 100%;
  height: 100%;
}

.text {
  font-size: 20px;
  text-align: center;
  color: var(--app-text-color);
}

.text span {
  font-weight: 600;
  color: var(--app-brand-color);
}
