.screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  padding: 15px;
  box-sizing: border-box;
  gap: 30px;
  color: var(--app-text-color);
  background-color: var(--app-bg-color);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.iconFire {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 24px;
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.groupTitle {
  font-size: 16px;
  text-transform: uppercase;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
