.screen {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--app-text-color);
  background-color: var(--app-bg-color);
  height: 100vh;
}

.header {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.iconFire {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.iconClock {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  opacity: 0.6;
  transition: opacity 0.2s;
}
.iconClock:active {
  opacity: 1;
}

.fire {
  position: relative;
  color: white;
  text-decoration: none;
  opacity: 0.6;
  transition: opacity 0.2s;
}
.fire.actived {
  opacity: 1;
}

.count {
  position: absolute;
  top: 0;
  right: -10px;
  background-color: var(--app-brand-color);
  color: white;
  padding: 2px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 1;
  min-width: 15px;
  text-align: center;
}

.photo {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 0;
  height: 70vh;
  max-height: 70vh;
}

.photo:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 3;
  box-shadow: inset 0 60px 20px rgba(0, 0, 0, 0.5);
  content: "";
}

.photo.limited .image {
  filter: blur(20px);
  transform: scale(1.15);
}

.image {
  position: absolute;
  width: 100%;
  height: inherit;
  height: inherit;
  object-fit: cover;
}
.image.first {
  z-index: 2;
}
.image.second {
  z-index: 1;
}

.name,
.description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 24px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 10px 15px 30px;
  gap: 40px;
}

.name {
  font-size: 20px;
  font-weight: 500;
}

.buttons {
  display: flex;
  justify-content: center;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 0;
}

.message p {
  margin: 0;
  text-align: center;
}

.message span {
  color: var(--app-brand-color);
}
