.card {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 10px;
  background-color: var(--app-secondary-bg-color);
  border-radius: 8px;
}

.card.locked .photo {
  filter: blur(10px);
}

.photo {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.name {
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.description {
  font-size: 14px;
  max-height: 42px;
  overflow: hidden;
}

.link {
  font-size: 16px;
  text-decoration: none;
  color: var(--app-link-color);
  cursor: pointer;
}
