global:
  sendAnonymousUsage: false

api:
  dashboard: true

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: web-secure
          scheme: https
          permanent: true

  web-secure:
    address: ":443"

# certificatesResolvers:
#   letsEncryptStaging:
#     acme:
#       email: ykundin@yandex.ru
#       storage: /letsencrypt/acme-staging.json
#       caServer: "https://acme-staging-v02.api.letsencrypt.org/directory"
#       httpChallenge:
#         entryPoint: web

#   letsEncrypt:
#     acme:
#       email: ykundin@yandex.ru
#       storage: /letsencrypt/acme.json
#       httpChallenge:
#         entryPoint: web

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    watch: true

  file:
    filename: /etc/traefik/dynamic.yml
    watch: true

log:
  level: INFO
  format: common
