.button {
  padding: 0;
  margin: 0;
  background: var(--app-bg-color);
  border: 20px solid var(--app-secondary-bg-color);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
