.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--app-text-color);
  border: 1px solid var(--app-hint-color);
  font-size: 16px;
  line-height: 1;
  transition: all 0.2s;
  cursor: pointer;
}

.control {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}
